.wrap-sub-detail-dashboard {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 10px 20px;
  width: 80%;
  height: 100px;
}

.icon-sub-detail-dashboard {
  font-size: 35px;
}

.title-sub-detail-dashboard {
  font-weight: 600;
}

.number-sub-detail-dashboard {
  font-size: 25px;
}

.content-sub-detail-dashboard {
  border-bottom: 1px solid #B69888;
  height: 77px;
}

.more-sub-detail-dashboard {
  color: #B69888;
  font-size: 13px;
  padding-top: 3px;
}

.wrap-best-seller {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 10px;
  border-radius: 5px;
}