.order-status {
  font-size: 12px;
  padding: 2px 8px;
  color: white;
  border-radius: 4px;
  font-weight: 600;
}

.bnt-payment-order {
  width: 80%;
  background: white;
  border: #008AFF 1.5px solid;
  outline: none;
  color: #008AFF;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
}

.bnt-payment-order:hover {
  background: #008AFF;
  border: #008AFF 1.5px solid;
  color: white;
} 

.bnt-pending-order {
  width: 80%;
  background: white;
  border: #F6AC43 1.5px solid;
  outline: none;
  color: #F6AC43;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
}

.bnt-pending-order:hover {
  background: #F6AC43;
  border: #F6AC43 1.5px solid;
  color: white;
}

.order-right {
  text-align: right;
}

@media (max-width: 768px) {
  .order-right {
    text-align: left;
  }
}

@media (max-width: 750px) {
  .order-table {
    overflow-x: scroll;
  }
}