.order-status {
  font-size: 12px;
  padding: 2px 8px;
  color: white;
  border-radius: 4px;
  font-weight: 600;
}

.bnt-submit-order {
  width: 80%;
  background: white;
  border: #F03E58 1.5px solid;
  outline: none;
  color: #F03E58;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
}

.bnt-submit-order:hover {
  background: #F03E58;
  border: #F03E58 1.5px solid;
  color: white;
}