.P-full-login {
  background-color: #F2F2F2;
}

.P-wrap-login-board {
  background-color: #FFFFFF;
  width: 400px;
  margin: 0 0 3.5vh 0;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 77px 55px 33px 55px;
}

.P-title-login {
  font-family: 'Francois One', sans-serif;
}

.P-input-login {
  margin: 20px 0 0;
  padding: 8px 0 0;
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 2px solid #adadad;
  color: #555555;
}

.P-login-remember {
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1em;
  height: 1em;
  outline: none;
}

.remember-label {
  margin: 0 !important;
  padding: 0 !important;
}

.P-login-bnt {
  width: 90%;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.P-forget-login {
  color: black;
  font-size: 13px;
  display: block;
}

.P-forget-login:hover {
  text-decoration: none;
  color: #242936;
}

.holder-login-email::after {
  content: "Email";
  font-size: 15px;
  color: #999999;
  display: block;
  position: relative;
  transition: 0.4s;
  float: left;
  top: -50px;
  left: 15px;
}

@media (max-width: 400px) {
  .P-wrap-login-board {
    width: 100%;
  }
}