.img-show-product {
  width: 60%;
}

.label-show-product {
  font-size: 12px;
  color: #908D89;
}

.key-show-product {
  color: #908D89;
}

.name-show-product {
  font-weight: 600;
  font-size: 18px;
}