<p id="notice"><%= notice %></p>

<p class="title-dasboard">Dashboard</p>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <!--1-->
      <div class="col-6">
        <div class="row">
          <!--icon-->
          <div class="col-6"><i class="fa fa-shopping-bag"></i></div>

          <!--content-->
          <div class="col-6">
            <div class="row">
              <!--title-->
              <div class="col-12 text-right">Products</div>

              <!--number-->
              <div class="col-12 text-right">105</div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <i class="fa fa-smile-o"></i>Last time
          </div>
        </div>
      </div>

      <!--2-->
      <div class="col-6">
        <div class="row">
          <!--icon-->
          <div class="col-6"><i class="fa fa-credit-card"></i></div>

          <!--content-->
          <div class="col-6">
            <div class="row">
              <!--title-->
              <div class="col-12 text-right">Revenue</div>

              <!--number-->
              <div class="col-12 text-right">$1324</div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <i class="fa fa-archive"></i>Last day
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <!--3-->
      <div class="col-6">
        <div class="row">
          <!--icon-->
          <div class="col-6"><i class="fa fa-calendar-times-o"></i></div>

          <!--content-->
          <div class="col-6">
            <div class="row">
              <!--title-->
              <div class="col-12 text-right">Orders</div>

              <!--number-->
              <div class="col-12 text-right">23</div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <i class="fa fa-clock-o"></i>In the last hour
          </div>
        </div>
      </div>

      <!--4-->
      <div class="col-6">
        <div class="row">
          <!--icon-->
          <div class="col-6"><i class="fa fa-heart-o"></i></div>

          <!--content-->
          <div class="col-6">
            <div class="row">
              <!--title-->
              <div class="col-12 text-right">Users</div>

              <!--number-->
              <div class="col-12 text-right">+45</div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <i class="fa fa-circle-o-notch"></i>Updated now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class"wrap-best-seller wrap-index-category">
  <div class="title-table-dashboard title-index-category">Best seller</div>
  <p>In a week</p>

  <div class="row pb-2 wrap-label-index-category">
    <!--STT-->
    <div class="col-2 text-center label-index-category"></div>
    <!--NAME-->
    <div class="col-4 label-index-category">Name</div>
    <!--CATEGORY-->
    <div class="col-3 label-index-category">Category</div>
    <!--SOLD-->
    <div class="col-3 label-index-category">Sold</div>
  </div>

  <div class="row pb-2 wrap-content-index-category">
    <!--STT-->
    <div class="col-2 text-center">1</div>
    <!--NAME-->
    <div class="col-4">vrververvv</div>
    <!--CATEGORY-->
    <div class="col-3">tbrbtrbtrb</div>
    <!--SOLD-->
    <div class="col-3">545151</div>
  </div>
</div>

<div class"wrap-best-seller wrap-index-category">
  <div class="title-table-dashboard title-index-category">Vip Customers</div>
  <p>In a week</p>

  <div class="row pb-2 wrap-label-index-category">
    <!--STT-->
    <div class="col-2 text-center label-index-category"></div>
    <!--NAME-->
    <div class="col-4 label-index-category">Name</div>
    <!--CATEGORY-->
    <div class="col-3 label-index-category">Category</div>
    <!--SOLD-->
    <div class="col-3 label-index-category">Sold</div>
  </div>

  <div class="row pb-2 wrap-content-index-category">
    <!--STT-->
    <div class="col-2 text-center">1</div>
    <!--NAME-->
    <div class="col-4">vrververvv</div>
    <!--CATEGORY-->
    <div class="col-3">tbrbtrbtrb</div>
    <!--SOLD-->
    <div class="col-3">545151</div>
  </div>
</div>