<div class="wrap-index-category">
  <div class="title-index-category mb-4">
    Profile of
  </div>

  <div class="row">
    <div class="col-12 mx-3">
      <!--EMAIL-->
      <div class="row">Email</div>
      <div class="row">
        <input type="text" class="input-filter-index-category" value="Email">
      </div>

      <!--NAME-->
      <div class="row">Name</div>
      <div class="row">
        <input type="text" class="input-filter-index-category" value="Name">
      </div>

      <!--PHONE-->
      <div class="row">Name</div>
      <div class="row">
        <input type="number" class="input-filter-index-category" value="0909090909">
      </div>

      <!--ROLE-->
      <div class="row">Role</div>
      <div class="row">
        <input type="text" class="input-filter-index-category" value="Admin">
      </div>

      <!--GENDER-->
      <div class="row">Gender</div>
      <div class="row">
        <input type="radio" class="form-check-input">Male
        <input type="radio" class="form-check-input">Female
      </div>

      <!--ADDRESS-->
      <div class="row">Address</div>
      <div class="row">
        <input type="text" class="input-filter-index-category" value="Address">
      </div>

      <!--STATUS-->
      <div class="row">Status</div>
      <div class="row">
        <input type="text" class="input-filter-index-category" value="Status">
      </div>
    </div>
  </div>
</div>
