<!--css in index-account-->

<div class="wrap-index-category" style="padding: 30px 50px;">
  <div class="title-index-category mb-4">
    Add admin
  </div>

  <div class="row my-3">
    <div class="col-lg-6">
      <!--label EMAIL-->
      <div class="row">
        <div class="col-lg-12 label-account">Email</div>
      </div>

      <!--input EMAIL-->
      <div class="row">
        <div class="col-lg-12">
          <input type="text" class="input-filter-index-category">
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <!--label NAME-->
      <div class="row">
        <div class="col-lg-12 label-account">Name</div>
      </div>

      <!--input NAME-->
      <div class="row">
        <div class="col-lg-12">
          <input type="text" class="input-filter-index-category">
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-4">
      <!--label PASS-->
      <div class="row">
        <div class="col-lg-12 label-account">Password</div>
      </div>

      <!--input PASS-->
      <div class="row">
        <div class="col-lg-12">
          <input type="password" class="input-filter-index-category">
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <!--label CON-PASS-->
      <div class="row">
        <div class="col-lg-12 label-account">Confirm Password</div>
      </div>

      <!--input CON-PASS-->
      <div class="row">
        <div class="col-lg-12">
          <input type="password" class="input-filter-index-category">
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <!--label ROLE-->
      <div class="row">
        <div class="col-lg-12 label-account">Role</div>
      </div>

      <!--input ROLE-->
      <div class="row">
        <div class="col-lg-12">
          <input type="text" class="input-filter-index-category" value="admin" disabled>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 mt-4">
    <div class="col-lg-12 text-center">
      <input type="submit" class="bnt-index-category" value="Add New Admin" style="width: 20%;">
    </div>
  </div>
</div>